*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ececec;
    /* background-color: #363636; */

}
.menu_container{
    border-radius: 0px 0px 10px 10px;
    width: 95%;
    height: 80px;
    max-height: 200px;
    margin: 0px auto;
    position: sticky;
    top: 0%;
    background-color: #005ac2;
    text-align: center;
    z-index: 500;
    display: flex;
    justify-content: space-around;
    
}
.menu_container img{
    position: relative;
    top: 7px;
    display: inline;
    height: 65px;
}

.container{
    align-self: center;
    position: relative;
    right: 200px;
    font-size: 20px;
}

.container ul,.container ol {
    list-style:none;
}

.menu > li {
    float:left;
}

.menu li a {
    transition: .3s;
    background-color:#005bc2ac;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.menu li a:hover {
    background-color:rgba(0, 49, 105, 0.715);
}

.menu li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.menu li:hover > ul {
    display:block;
}

.menu li ul li {
    position:relative;
}

.menu li ul li ul {
    right:-140px;
    top:0px;
}


.navimage{
    height: 65px;
}


.navbar a{
    color: white;
}

.nav-link:hover{
    color: red;
}

/* ↑↑↑↑↑ Menu ↑↑↑↑↑ */
footer{
    background-color: #005ac2;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}
footer span{
    color: #ff1e47;
    font-weight: 700;
    font-size: 20px;
}

.footcontainer{
    margin: auto;
    width: 98%;
    height: 70%;
    display: grid;
    column-gap: 15px;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr 0.1fr;
    grid-template-areas: "logoacj footercontent"
    "logoymca footercontent"
    "copyrights creator" ;
    


}

.creator{
    grid-area: creator;
    color:rgba(255, 255, 255, 0.952);
    display: flex;
    justify-content: space-around;
    border-top: #ececec 1px dashed;
    border-left: #ececec 1px dashed;
    height: 50px;
}


.acj{
    margin-bottom: 20px;
    grid-area: logoacj;
    display: flex;
    align-items: center;
}
.ymca{

    grid-area: logoymca;
    display: flex;
    align-items: center;
}
.copyrights{
    grid-area: copyrights;
    color: rgba(255, 255, 255, 0.952);
    text-align: center;
}

.footercontent{
    display: flex;
    grid-area: footercontent;
    color: rgba(255, 255, 255, 0.952);
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    justify-content: flex-end;
   
}
.footercontent ul{
    margin: 0px;
    padding: 0%;
}
.footercontent li img{
    margin-left: 10px;
    width: 20px;
}

.footercontent div{
    height: 1fr;
    width: 20%;
}

.footercontent div a{
    background-color:#005bc2ac;
    color:#fff;
    text-decoration:none;
}

.acj, .ymca{
    display: flex;
    color:  rgba(255, 255, 255, 0.952);
}
.acj p, .ymca p{
    margin: 5px;
}

.acj img, footer .ymca img{
    height: 65px;
    border-right: 2px solid rgb(0, 49, 105);
}
.acj img{
    padding: 0 8px 0 8px;
}
.ymca img{
    padding-right: 5px;
}

/* ↑↑↑↑↑ Footer ↑↑↑↑↑ */
main{
    width: 80%;
    height: auto;
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #ececec;
}

main .gridhome{
    width: 100%;
    height: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
    "plan plan"
    "horarios horarios"
    "unite fundacion"
    "aporte fundacion"
    "trabaja iuacj";
}


.hijo{
    border-radius: 10px;
}
.hijo img{
    width: 100%;
    border-radius: 10px;
    height: 100%;
    overflow: hidden;
}

.plan{
    background-color: #005ac2;
    grid-area: plan;
    height: auto;
}

.horarios{
    grid-area: horarios;
    background-color: #192153;
    height: auto;
    text-align: center;
    overflow: auto;
    display: block;
    
}

.horarioslista{
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin-top: auto;
    position: relative;
    top: 15px;
    left: -15px;
    flex-wrap: wrap;
}

.horarios img{
    width: 70px;
    height: auto;
    display: inline;
}
.horarioslista a{
    color: #aeedff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}
.horarioslista span{
    color: white;
    font-weight: bolder;
}

.unite{
    grid-area: unite;
    background-color: beige;
    height: auto;
    background-image: url(./../img/veni_fondo.png);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #848688;
    color: white;
    padding: 30px 20px;
    font-size: 14px;
}

.unite span{
    font-weight: 900;
    font-size: 28px;
}

.unite a{
    transition: .5s;
    text-decoration: none;
    color: #192153;
    display: inline-block;
    font-size: 20px;
    padding: 5px 15px;
    margin: 10px;
    background-color: #aeedff;
    border-radius: 15px;
    font-weight: 700;
}

.unite a:hover{
    text-decoration: none;
    color: #192153;
    display: inline-block;
    font-size: 30px;
    padding: 5px 15px;
    margin: 0px;
    background-color: #aeedff;
    border-radius: 15px;
    font-weight: 700;
}

.fundacion{
    grid-area: fundacion;
    background-color: red;
    height: auto;

}
.aporte{
    grid-area: aporte;
    background-color: coral;
    height: auto;
}

.trabaja{
    grid-area: trabaja;
    background-color: yellow;
    height: auto;

}

.iuacj{
    grid-area: iuacj;
    background-color: cornflowerblue;
    height: auto;

}

/* Grid */






.titulo{
    margin: 1% auto 3% auto;
    border-radius: 10px;
    width: 90%;
    height: 80px;
    background-color: #005ac2;
}
.titulo p{
    position: relative;
    top: 20px;
    right: -30px;
    color: white;
    font-size: 30px;
    font-weight: 700;
}
.tituloartigas{
    margin: 1% auto 3% auto;
    border-radius: 10px;
    width: 90%;
    height: 80px;
    background-color: rgb(152,188,17);
}
.tituloartigas p{
    position: relative;
    top: 20px;
    right: -30px;
    color: white;
    font-size: 30px;
    font-weight: 700;
}

.bold{
    font-weight: bolder;
}

.nosotros p{
    text-align: left;
    margin: auto;
    width: 90%;
    margin: 0%;
}

.nosotros h3{
    margin-top: 30px;
    color: #192153;
    font-size:30px ;
    margin-bottom: 10px;
}

.nosotroscontainer{
    margin-top: 2%;
    border-top: #192153 solid 1px;
}

.vision{
    padding: 20px;
    display: flex;
    border-right: #192153 solid 1px;
    border-bottom: #192153 solid 1px;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.valores {
    padding: 20px;
    display: flex;
    border-bottom: #192153 solid 1px;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
}
.mision {
    padding: 20px;
    display: flex;
    border-bottom: #192153 solid 1px;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
}
.mision h4{
    text-align: center;
}
.directores .row .hijo{
    background-color: rgba(0, 0, 0, 0.172);
}

.directores .row div{
    border: #ececec solid 1px;
}
.directores .row div p{
    min-height: 120px;
    padding: 0px 10px;
}
.directores .row div h4{
    text-align: center;
    color: #192153;
    font-size:30px ;
    margin: 1% 0%;
}
.directores .row div span{
    color: #005ac2;
    font-size: 25px;
}
.gridnosotros h4{
    text-align: center;
    color: #192153;
    font-size:30px ;
}

.gridnosotros p{
    text-align: left;
    font-size: 15px;
}



.tablecontainer{
    background-color: rgba(0, 0, 0, 0.172);
}
.tablecontainer p{
    margin: 10px;
}

.tablecontainer span{
    color: #005ac2;
    font-size: 25px;
}



.contacto-box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.contacto-box input{
    display: block;
    width: 100vh;
    height: 4vh;
}
.contacto-box textarea{
    display: block;
    width: 100vh;
    height: 40vh;
}

.contacto-box label,input, textarea,button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    font-size: 1rem;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}

.telefonos{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.telefonos .tablecontainer{
    padding: 10px;
    border-radius: 10px;
    margin: 30px 10px;
    border:dashed 3px  #005ac2;
}

.contacto .nosotros{
    margin-top: 40px;
    margin-bottom: 20px;
}

/* ARTIGAS */

.artigasmain .titulo{
    margin-bottom: 40px;
    background-color: #98BC11;
}
.artigassect span{
    color: #029139;
}

.videoartigas{
    display: flex;
    justify-content: center;
    margin: 50px;
}

.artigassect h3{
    color: #98BC11;
    font-size: 40px;
    font-weight: 900;
}

/* ADHU */


.adhu, .unidadcentro,.unidadportones{
    min-height: 70vh;
}
.adhu p span{
    color: #005ac2;
}

.adhu ul{
    list-style-type: square;
    text-align: justify;
    margin: auto;
    width: 90%;
}

/* ESCUELA */

.escuela .nosotros div span{
    color: #005ac2;
}

.escuela .nosotros{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  
}

.escuela .nosotros div{
    width: 48%;
    display: inline;
    padding: 2%;
}
.escuela .nosotros{
    margin-bottom: 80px;
}

/* UNIDAD CENTRO */

.unidadcentro .nosotros span{
    color: #005ac2;
}
.unidadcentro .nosotros ul{
    position: relative;
    right: -70px;
    margin: 20px 0px;
}

/* UNIDAD PORTONES */

.unidadportones .nosotros span{
    color: #005ac2;
}

.unidadportones .nosotros{
    height: 50vh;
}

/* responsive */

@media screen and (max-width:992px) {
    .creator{
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        border-left:none;
    }
    .vision{
        border-right: none;
    }
}

@media screen and (max-width:768px) {
    main .gridhome{
        width: 100%;
        height: 100%;
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas: 
        "plan plan"
        "horarios horarios"
        "unite unite"
        "iuacj iuacj"
        "trabaja fundacion"
        "aporte fundacion";
    }

    .footcontainer{
        margin: auto;
        width: 98%;
        height: 70%;
        display: grid;
        
        grid-template-columns: 1fr ;
        grid-template-rows: 0.7fr 0.7fr 2fr 0.1fr 0.1fr;
        grid-template-areas: "logoacj"
        "logoymca"
        "footercontent"
        "copyrights "
        "creator" ;

    }
    .footercontent{
        margin-top: 20px;
        display: block;
        grid-area: footercontent;
        color: rgba(255, 255, 255, 0.952);
        text-align: center;
    }
    .footercontent div{
        height: auto;
        width: auto;
    }
    
    .acj{
        margin-bottom: 0px;

    }
}