.unidadportones{
    .nosotros{
        span{
            color: #005ac2;
        }
    }
}

.unidadcentro{
    .nosotros{
        span{
        color: #005ac2;
        }
        ul{
            position: relative;
            right: -70px;
            margin: 20px 0px;
        }
    }
} 